<!DOCTYPE html>
<html lang="en" ng-app="professoresModulo">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="images/favicon.ico">

<title>Starter Template for Bootstrap</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/starter-template.css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="js/angular.min.js"></script>
<script src="js/ie-emulation-modes-warning.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="professoresController">

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<!--<a href="#">Sistema Web</a> Precisa fazer o javascript -->
			<a href="index.html">Sistema Web</a>
		</div>
	</nav>
	<div class="container" id="menu">

		<div class="starter-template">
			<h1 id="m-title">Professores</h1>
		</div>
		<!-- Footer -->

		<div class="container form-container">
			<form class="form-prof">
				<div class="form-group">
					<label for="codigo">Código</label> <input
						ng-model="professor.codigo" readonly required type="text"
						class="form-control" id="exampleInputEmail1"
						aria-describedby="emailHelp" placeholder="Código" id="codigo">
					<small id="emailHelp" class="form-text text-muted">We'll
						never share your email with anyone else.</small>
				</div>
				<div class="form-group">
					<label for="nome">Nome</label> <input ng-model="professor.nome"
						required type="text" class="form-control"
						id="exampleInputPassword1" placeholder="Nome">
				</div>
				<div class="form-group">
					<label for="email">Email</label> <input ng-model="professor.email"
						type="text" class="form-control" id="exampleInputPassword1"
						placeholder="Email">
				</div>
				<div class="form-group">
					<label for="fone">Fone</label> <input ng-model="professor.fone"
						type="text" class="form-control" id="exampleInputPassword1"
						placeholder="Fone">

				</div>
				<div class="container btns-cad-prof">
					<button ng-click="limparCampos()" type="submit"
						class="btn btn-primary btn-form-prof">Novo</button>
					<button ng-click="salvar()"
						ng-disabled="!professor.nome && !professor.id" type="submit"
						class="btn btn-primary btn-form-prof">Salvar</button>
					<button ng-click="excluir()" type="submit"
						class="btn btn-primary btn-form-prof">Excluir</button>
					<div class="">
						<label for="email"></label> <input ng-model="pesquisaProfessor"
							type="text" class="form-control" id="pesquisa"
							placeholder="Pesquisar">
					</div>

				</div>

				<br>


				<table class="table table-hover">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Código</th>
							<th scope="col">Nome</th>
							<th scope="col">Email</th>
							<th scope="col">Telefone</th>
						</tr>
					</thead>
					<tbody>
						<tr
							ng-repeat="professoresTabela in professores | filter:pesquisaProfessor"
							ng-click="selecionaProfessor(professoresTabela)">
							<th scope="row">{{professoresTabela.codigo}}</th>
							<td>{{professoresTabela.nome}}</td>
							<td>{{professoresTabela.email}}</td>
							<td>{{professoresTabela.fone}}</td>
						</tr>
					</tbody>
				</table>

			</form>

		</div>
	</div>
	<!-- /.container -->


	<div class="conteiner">
		<br>

		<footer class="page-footer font-small blue">

			<!-- Copyright -->
			<div class="footer-copyright text-center">© José Igor de
				Carvalho</div>
			<!-- Copyright -->

		</footer>

	</div>
	<!-- Footer -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
	</script>
	<script src="js/bootstrap.min.js"></script>
	<script src="controller/professores.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="js/ie10-viewport-bug-workaround.js"></script>
	<script>
		
	</script>
</body>

</html>